{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
        {{message}}
    {% endif %}
</form>
{% endblock %}